@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --color-bg: #111111;
  --color-surface: #1a1a1a;
  --color-text: #ffffff;
  --color-border: #333333;
  --color-subtext: #999999;
  --color-succes: #32936f;
  --color-error: #ee0000;
  --color-warning: #ffcc00;
}

@layer base {
  /* ---------------------- Modern Theme Principium ------------------------- */

  .h1,
  .h2,
  .h3,
  .h4,
  .p,
  .small {
    font-family: 'Inter', 'Open Sans';
  }
  .h1 {
    font-size: 50.52px;
    line-height: 67.34px;
    font-weight: 800;
  }
  .h2 {
    font-size: 50.52px;
    line-height: 37.9px;
    font-weight: 700;
  }
  .h3 {
    font-size: 28.43px;
    line-height: 37.9px;
    font-weight: 600;
  }
  .h4 {
    font-size: 21.33px;
    line-height: 28.43px;
    font-weight: 500;
  }
  .p,
  .p::placeholder {
    font-size: 16px;
    line-height: 21.33px;
    font-weight: 400;
  }
  .small {
    font-size: 12px;
    line-height: 16px;
    font-weight: 300;
  }

  /* ------------------------------------------------------------------------ */
  * {
    margin: 0;
    padding: 0;
    border: 0;
  }
  body {
    background: #111111;
    color: white;
  }
}
